
.item1 { grid-area: header; }
.item2 { grid-area: ubytovanie; }
.item3 { grid-area: brectan; }
.item4 { grid-area: kontakt; }
.item5 { grid-area: box1; }
.item6 { grid-area: box2; }
.item7 { grid-area: box3; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'ubytovanie brectan kontakt'
    'box1 box2 box3';

  gap: 3px;
  background-color: #6D6427;
  padding: 0px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px
}
.grid-container > div.item1 {
  background-color: #DDD0D0;
  text-align: center;
  padding: 20px 10px;
  font-size: 30px;
}
body {
  font-family: cursive;
}

.fotky {
max-width: 30vw;
}
