.item1 {
  grid-area: header;
}

.item2 {
  grid-area: ubytovanie;
}

.item3 {
  grid-area: brectan;
}

.item4 {
  grid-area: kontakt;
}

.item5 {
  grid-area: box1;
}

.item6 {
  grid-area: box2;
}

.item7 {
  grid-area: box3;
}

.grid-container {
  background-color: #6D6427;
  display: grid;
  gap: 3px;
  grid-template-areas:
    'header header header'
    'ubytovanie brectan kontakt'
    'box1 box2 box3';
  padding: 0px;
  padding-bottom: 3px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px
}

.grid-container>div.item1 {
  background-color: #DDD0D0;
  font-size: 30px;
  padding: 20px 10px;
  text-align: center;
}

.ubytovanie {
  grid-area: nadpis;
}

.item8 {
  grid-area: foto1;
}

.item9 {
  grid-area: foto2;
}

.item10 {
  grid-area: foto3;
}

.item11 {
  grid-area: foto4;
}

.item12 {
  grid-area: dub;
}

.item13 {
  grid-area: buk;
}

.item14 {
  grid-area: lipa;
}

.item15 {
  grid-area: javor;
}

.item16 {
  grid-area: dva;
}

.item17 {
  grid-area: tri;
}

.item18 {
  grid-area: styri;
}

.item19 {
  grid-area: pat;
}

.item20 {
  grid-area: cenaj;
}

.item21 {
  grid-area: cenad;
}

.item22 {
  grid-area: cenat;
}

.item23 {
  grid-area: cenas;
}

.grid-container-2 {
  background-color: #6D6427;
  display: grid;
  gap: 3px;
  grid-template-areas:
    'nadpis nadpis nadpis nadpis'
    'foto1 foto2 foto3 foto4'
    'dub buk lipa javor'
    'dva tri styri pat'
    'cenaj cenad cenat cenas';
  padding: 0px;
  padding-bottom: 3px;
}

.grid-container-2>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15;
  font-size: 15px
}

.grid-container-2>div.ubytovanie {
  background-color: #DDD0D0;
  font-size: 20;
  padding: 18px;
  text-align: left;
}

.center-div {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr;
  gap: 7px;
  margin: 7px 0;
}

.empty {
  background-color: #DDD0D0;

}

.brectan-text {
  grid-column: 2/3;
  background-color: #E3E0D5;
  padding: 7px;
  border: 3px solid #6D6427;
}

.brectan-text>h4 {
  font-size: 1.3rem;
}

.brectan-title {
  background-color: #DDD0D0;
  font-size: 20;
  padding: 18px;
  text-align: left;
}

.contact {
  grid-area: contact;
}

.item41 {
  grid-area: cislo;
}

.item42 {
  grid-area: mail1;
}

.item43 {
  grid-area: mail2;
}

.grid-container-4 {
  background-color: #6D6427;
  display: grid;
  gap: 3px;
  grid-template-areas:
    'contact contact contact'
    'cislo mail1 mail2';
  padding: 0px;
}

.grid-container-4>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15;
  font-size: 15px
}

.grid-container-4>div.contact {
  background-color: #DDD0D0;
  font-size: 20;
  padding: 18px;
  text-align: left;
}

body {
  font-family: impact;
}

.fotky {
  max-width: 25vw;
}

.izby1 {
  max-width: 17vw;
}

.izby2 {
  max-width: 19vw;
}